.middle-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}
nav li {
  margin: 0 10px;
}
nav li a {
  color: #103742;
}
.other {
  display: flex;
  align-items: center;
}
.contacts, .social {
  display: flex;
  align-items: center;
}
.number {
  font-family: Exo;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #103742;
}
.socIcon {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
  color: #fff;
  background: #1BD741;
}
.socIcon:last-child {
  background: #61A8DE;
}
.social > :first-child {
  margin: 0 5px 0 30px;
}
.checkouts {
  display: flex;
  align-items: center;
}
.checkouts img {
  width: 22px;
  margin: 0 5px;
  cursor: pointer;
}

.middleNavBurWrap {
  display: none;
}
.middleNavBur {
  width: 300px;
  padding: 50px 20px;
}
.middleNavBur ul {
  flex-direction: column;
}
.middleNavBur ul li {
  padding: 5px 0;
  margin: 5px 0;
}
.middleNavBur .MuiDivider-root {
  margin: 15px 0;
}
.middleNavBur .number p {
  font-size: 20px;
}
.heart, .basket {
  position: relative;
}
.heartNotif, .basketNotif {
  width: 20px;
  height: 20px;
  color: #DF2121;
  border: 2px solid #DF2121;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  top: -17px;
  right: -11px;
  text-align: center;
  font-size: 10px;
  padding-top: 4px;
}
.basketNotif {
  right: -8px;
}



@media screen and (max-width: 1024px) {
  .middle-info nav, .other .contacts, .other .top-devider {
    display: none;
  }
  .middleNavBurWrap {
    display: block;
  }
}
