.section {
  padding: 35px 0;
}
.sectionWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionWrap>* {
  width: 45%;
  margin: auto;
}
.advantage {
  display: flex;
  margin: 0 0 30px 0;
}
.logo img {
  width: 45px;
  margin: 0 20px 0 0;
}
.info h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #103742;
  margin: 0 0 30px 0;
}
.info h4 {
  font-size: 16px;
  line-height: 19px;
  color: #103742;
  margin: 0 0 5px 0;
}
.info p {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #103742;
  padding: 0 0 0 17px;
}

.img img {
  width: 100%;
}




@media screen and (max-width: 600px) {
  .sectionWrap {
    flex-direction: column;
  }
  .sectionWrap>* {width: 80%;}
}