.bottom-info {
  display: flex;
  justify-content: space-between;
}
.categories {
  width: 70%;
}
.categories ul {
  display: flex;
}
.categories li {
  position: relative;
  cursor: pointer;
  margin: 0 50px 0 0;
}
.categories li:hover {
  color: #962689;
}
.dropContent {
  display: none;
  position: absolute;
  top: 30px;
  background: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 25px;
  z-index: 9;
  color: #000;
  cursor: auto;
}
.chevron {
  color: #103742;
  margin-left: 5px;
}
.dropContent::before {
  content: '';
  position: absolute;
  left: 12px;
  top: -5px;
  background: #fff;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
}
.bottom-info {
  display: flex;
  padding: 20px 10px;
}
.openDrop {
  display: block;
}
.search {position: relative;}
.search input {
  background: #FFFFFF;
  border: 0.2px solid #103742;
  border-radius: 15px;
  padding: 7px 7px 7px 35px;
}
.lupa {
  position: absolute;
  top: 7px;
  left: 10px;
}

.catBurgerWrap {
  display: none;
}


@media screen and (max-width: 1024px) {
  .bottom-info .categories {
    display: none;
  }
  .catBurgerWrap {
    display: block;
  }
}