@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container-outter {
  max-width: 1300px;
  margin: auto;
}
.title {
  padding: 10px 5px 20px 10px;
  margin-top: 15px;
}
.title p {
  font-size: 14px;
  line-height: 22px;
}
.title h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #103742;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.graybg {
  background: #E5E5E5;
}
a {
  text-decoration: none;
}
#mainSlider .slick-list {
  padding: 30px 0 40px;
}
#productSlider .slick-center img {
  opacity: 1;
  outline: none;
}
#productTabs .MuiTab-root {
  text-transform: capitalize !important;
}
#productTabs .MuiPaper-elevation4 {
  box-shadow: none !important;
  background: #fff !important;
  border-bottom: 1px solid silver;
}